{% extends "users/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <h2 class="page_heading mt-4">Reset Password</h2>
    <p class="page_greet mb-4">Please enter a new password</p>

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form_content">
            {{ form|crispy }}
        </fieldset>
        <fieldset class="form_btns mt-4">
            <button class="btn register_btn" type="submit">Update Password</button>
        </fieldset>
    </form>
{% endblock %}

